@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --Primaire-Blanc: #F4F4F4;
  --Primaire-Noir: #1A1A1B;
  --Noir-main: #121212;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-plus-jakarta);
  --font-display: var(--font-syne);
}


html,
body {
  overflow-x: clip;
  width: 100%;
  max-width: 100%;
  min-width: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-plus-jakarta), sans-serif;
}
