@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-plus-jakarta);
  --font-display: var(--font-syne);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-plus-jakarta), sans-serif;
}
